<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
>
<head>
    <meta charset="UTF-8">
    <title>template 1</title>
</head>
<body>
<nav>
    <ul>
        <li>
            <a href="#">home</a>
        </li>
        <li>
            <a href="#">home</a>
        </li>
        <li>
            <a href="#">home</a>
        </li>
        <li>
            <a href="#">home</a>
        </li>
    </ul>
</nav>
<section layout:fragment="content1">

</section>
</body>
</html>